<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.sproutlabs.iddrops"
		versionCode = "10"
        version   = "1.0.0">
    <!-- versionCode is optional and Android only -->

    <name>ID Drops</name>

    <description>ID drops is packed with provocative instructional design prompts to help you think creatively and spark new ideas. 
    </description>

    <author href="http:/www.sproutlabs.com.au" email="robin@sproutlabs.com.au">
        Sprout Labs
    </author>
	
	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />
	<preference name="permissions" value="none"/>
	
	<icon src="icon.png" width="72" height="72"/>



</widget>