@charset "UTF-8";
/* CSS Document */

body {
	margin:0px;
	margin-right:0px;
	margin-left:0px;
	padding:0px;
	background:#333;
}

#ideals {
	width:100%;
}
	

.idea {

	background-repeat:no-repeat;
	background-size: 100%;
 

		
	
	
	/*webkit-border-radius: 28px 20px 20px 20px;-moz-border-radius: 28px 20px 20px 20px;border-radius: 28px 20px 20px;*/
	

	
	
}

.statement {
	color:white;
	font-size:280%;
	font-weight:bold;
	padding:6px;

	margin-top:8%;
	margin-left:2%;
	
	width:80%;
	
	background-color:rgba(44,182,94,0.5);
	
}

.credit {
	position:absolute;
	color:#999;
	font-size:120%;
	padding:6px;
	bottom:10%;
	margin-left:2%;
	
	width:25%;
	
	background-color:rgba(60,60,60,0.2);
	
}


.link {
	display:none;
}




