@charset "UTF-8";
/* CSS Document */

body {
	background-color:#333;
	margin:60px;
	margin-right:100px;
	
}


.idea {
	
	background-repeat:no-repeat;
	background-size:100%;
	
	margin:10px;
	margin-right:100px;
	
	padding:10px
	
	width:80%;
	
	webkit-border-radius: 28px 20px 20px 20px;-moz-border-radius: 28px 20px 20px 20px;border-radius: 28px 20px 20px;
	
	height:300px;
	
	
}

.statement {
	color:white;
	font-size:4em;
	font-weight:bold;
	padding:6px;

	margin-top:20%;
	margin-left:2%;
	
	width:80%;
	
	background-color:rgba(60,60,60,0.5);
	
}

.credit {
	color:white;
	font-size:1.2em;
	font-weight:bold;
	padding:6px;

	margin-top:30%;
	margin-right:60%;
	
	width:30%;
	
	background-color:rgba(60,60,60,0.5);
	
}





