@charset "UTF-8";
/* CSS Document */

#start-page {
 padding:12px;
 width:90%;
}

#start-page .about {
	font-size:2em;
	
}

body {
	margin:0px;
	margin-right:0px;
	margin-left:0px;
	padding:0px;
	background-color: rgb(249, 249, 249);
	background-clip: border-box;
	background-color: rgb(249, 249, 249);
		background-image: -webkit-linear-gradient(top, 
		rgb(249, 249, 249), 
		rgb(238, 238, 238));
	background-origin: padding-box;
}

#ideals {
	width:100%;
}
	

.idea {

	background-repeat:no-repeat;
	background-size: 100%;
 

		
	
	
	/*webkit-border-radius: 28px 20px 20px 20px;-moz-border-radius: 28px 20px 20px 20px;border-radius: 28px 20px 20px;*/
	

	
	
}

.statement {
	color:white;
	font-size:280%;
	font-weight:bold;
	padding:6px;

	margin-top:8%;
	margin-left:2%;
	
	width:80%;
	
	background-color:rgba(44,182,94,0.5);
	
}

.credit {
	position:absolute;
	font-size:120%;
	padding:6px;
	bottom:10%;
	margin-left:2%;
	color:#FFF;
	
	width:25%;
	
	background-color:rgba(60,60,60,0.2);
	
}


.link {
	display:none;
}




